@model IEnumerable<Buongustaio.Models.Productos>

@{
    ViewBag.Title = "Index";
    ViewBag.NumPlatillos = "<li style=\"float:right\"><a data-toggle=\"modal\" href=\"#myModal\""+
                           " class=\"btn btn-default\" role =\"button\"><p style=\"float:right\">"+
                           "</p><span class=\"glyphicon glyphicon-shopping-cart\" style =\"color: green; \" aria-hidden=\"true\" >"+
                           "</span><span id=\"orden\" class=\"badge\"></span></a></li>";
    ViewBag.HeaderOption = "<li style=\"float:right\"><a onclick=\"enviarPedido('../Ordenes/Create')\" class=\"btn btn-default\" role =\"button\" >Terminar y Pagar</a></li>";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="wrap">
    <main>
        <aside>
            <p>
                @for (int i = 0; i < 3; i++)
                {
                    <div class="row">
                        @for (int j = 0; j < 4; j++)
                        {
                            if (counter < Model.Count())
                            {
                                <div class="col-xs-6 col-md-3">
                                    <div class="thumbnail">
                                        <img src="@Url.Content(Model.ElementAt(counter).Imagen)" style="height:120px" alt="...">
                                        <div class="caption">
                                            <h3>@Model.ElementAt(counter).Descripcion</h3>
                                            <p>
                                                @*$@Model.ElementAt(counter).Precio
                                                @if (Model.ElementAt(counter).Descuento != null)
                                                {
                                                    Miembros: $@(Model.ElementAt(counter).Precio - (Model.ElementAt(counter).Precio *Model.ElementAt(counter).Descuento)
                                                }*@
                                            </p>
                                            <div>
                                                <div style="width: 70%; float:left">
                                                    <input type="number" class="form-control" placeholder=0 id="@Model.ElementAt(counter).Id" min="0" step="1" data-bind="value:replyNumber" />
                                                    @*<input type="text" class="form-control" placeholder="Cantidad" aria-describedby="basic-addon2" id="@Model.ElementAt(counter).Id">*@
                                                </div>
                                                <div style="width: 30%; float:right">
                                                    <a onclick="agregarProducto(@Json.Encode(Model.ElementAt(counter)))" class="btn btn-default" role="button">
                                                        +<span class="glyphicon glyphicon-shopping-cart" style="color:blue;" aria-hidden="true"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            counter++;
                        }
                    </div>
                }
            </p>
        </aside>
    </main>
</div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Mi Carrito</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-highlight">
                            <thead>
                                <tr>
                                    <th style="width:10%; text-align:center;">Cantidad</th>
                                    <th style="width:65%; text-align:center;">Platillo</th>
                                    <th style="width:15%; text-align:center;">Total</th>
                                    <th style="width:10%; text-align:center;">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody id="tb-carrito">
                                <tr id="rw-item" name="" style="display:none;">
                                    <td style="text-align:center;"></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a onclick="eliminarCarrito(this)" class="btn btn-default" role="button" value="">
                                            <span class="glyphicon glyphicon-remove" style="color:red;" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 id="total-pago" style="float:right; padding-right:3em"></h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}

<script type="text/javascript">
    var id, ur, newUrl;
    function getPago() {
        url = '@Url.Action("Create","Pagos", new { id = "__id__" })';
        newUrl = url.replace('__id__', id);
    }
</script>
@Scripts.Render("~/Scripts/OwnScripts/Carrito.js")
