@model Buongustaio.Models.registrarComprobante
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "PagoGUI";
}

<div class=" text-center">
    <h1>Datos Bancarios</h1>
    <br />
    <h3>Ingresa tus datos correctamente para<br /> darte el mejor servicio:</h3>
</div>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("PagoGUI", "Banco", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <hr />
                <div class="text-center">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.numTarjeta, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.numTarjeta, new { @class = "input-small" })
                            @Html.ValidationMessageFor(m => m.numTarjeta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.fechaExpriacion, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.fechaExpriacion, new { @class = "input-small" })
                            @Html.ValidationMessageFor(m => m.fechaExpriacion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Nombre, new { @class = "input-small" })
                            @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.claveSeguridad, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.claveSeguridad, new { @class = "input-small" })
                            @Html.ValidationMessageFor(m => m.claveSeguridad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Cantidad, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Cantidad, new { @class = "input-small" })
                            @Html.ValidationMessageFor(m => m.Cantidad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Enviar" class="btn btn-default" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Cancelar" class="btn btn-default" />
                        </div>
                    </div>
                   <p>clave de seguridad de tres digitos<br /> que se encuentra en el reverso de la<br /> tarjeta</p>
                </div>

            }
        </section>
    </div>
</div>