<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Carta.css")
    @Styles.Render("~/Content/simple-sidebar.css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Restaurant Buongustaio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
  
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li class="active">
                    <a href="~/Home/Index"><span class="fa-stack fa-lg pull-left"></span> Inicio</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Cuentas", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                            {
                                @Html.AntiForgeryToken()
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
                                <li><a href="#">Membresias</a></li>

                            }
                        }
                        else
                        {
                            <li><a href="~/Cuentas/Login">Log In</a></li>
                            <li><a href="~/Cuentas/Register">Regístrar</a></li>
                            <li><a href="#">Membresias</a></li>
                        }
                    </ul>
                </li>
                <li>
                    <a href="" onclick="@*showMenu()*@"><span class="fa-stack fa-lg pull-left"></span>Menú de Platillos</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="~/Productos/Index"><span class="fa-stack fa-lg pull-left"></span>Entradas</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"></span>Sopas</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"></span>Pastas</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"></span>Pizzas</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"></span>Cremas</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"></span>Bebidas</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"></span>Pagos</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"></span>Paga tu Orden</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"></span>Membresias</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"></span>Facturas</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"></span>Alta de RFC</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"></span>Facturación</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"></span>Contacto</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link1</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link2</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"></span>Sigue tu Orden</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-md-12 col-md-12 affix-content">
            <ul class="nav nav-pills" style="padding-bottom:-5px">
                @Html.Raw(ViewBag.HeaderOption)
                @Html.Raw(ViewBag.NumPlatillos)
            </ul>

            <div id="modalShareBody" class="modal-body">
                <div id="panelGuest" class="panel">
                    @RenderBody()
                </div>
            </div>
        </div>

        <footer>
            <div class="text-center">
                <p>Todos los derechos reservados</p>
            </div>
        </footer>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/arbol-lista.js")
        @Scripts.Render("~/Scripts/OwnScripts/SideMenu.js")
        @RenderSection("scripts", required: false)
</body>
</html>
