@model Buongustaio.Models.Comprobantes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comprobantes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fechayhora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fechayhora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminacionTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminacionTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transaccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transaccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Folio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
