@model IEnumerable<Buongustaio.Models.Comprobantes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fechayhora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerminacionTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fechayhora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerminacionTC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transaccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Folio }) |
            @Html.ActionLink("Details", "Details", new { id=item.Folio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Folio })
        </td>
    </tr>
}

</table>
