@model Buongustaio.Models.Retroalimentacion

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <div class="text-center">
                <h1>SEGUIMIENTO DE ENTREGA</h1>
                <hr />
                <label>Estado de tu Orden:</label>
                <br />
                <label>@Html.DisplayNameFor(m => m.Estado_orden)</label>
                <br />
                <label>Nivel de Satisfacción:</label>
                <br />
                <form role="form">
                    <div class="radio">
                        @Html.RadioButtonFor(m => m.Nivel_satisfaccion, "Insatisfecho")
                        Insatisfecho
                        @*<label><input type="radio" name="Estado"/>Insatisfecho </label>
                    <br />*@
                    </div>
                    <div class="radio">
                        @Html.RadioButtonFor(m => m.Nivel_satisfaccion, "Poco satisfecho")
                        Poco satisfecho
                        @*<input type="radio" name="Estado"/>Poco satisfecho
                    <br />*@
                    </div>
                    <div class="radio">
                        @Html.RadioButtonFor(m => m.Nivel_satisfaccion, "Regular")
                        Regular
                        @*<input type="radio" name="Estado"/>Regular
                    <br />*@
                    </div>
                    <div class="radio">
                        @Html.RadioButtonFor(m => m.Nivel_satisfaccion, "Satisfecho")
                        Satisfecho
                        @*<input type="radio" name="Estado" />Satisfecho
                    <br />*@
                    </div>
                    <div class="radio">
                        @Html.RadioButtonFor(m => m.Nivel_satisfaccion, "Muy satisfecho")
                        Muy satisfecho
                        @*<input type="radio" name="Estado"/>Muy satisfecho
                    <br />*@
                    </div>
                </form>
                @Html.HiddenFor(m => m.Orden)
                @Html.HiddenFor(m => m.Cliente)
                @Html.HiddenFor(m => m.Fecha)
                <div class="form-group">
                    <br />
                    <input type="submit" value="Enviar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
